- var btnCurrency = 'Заказ в гривнах'
- var btnDetailsInfo = 'Доп.информация'

.exchange
  button.btn.btn-currency#btnCurrency
    i.icon-money
    | #{btnCurrency}

  button.btn.btn-details-info#btnDetailsInfo
    i.icon-info
    | #{btnDetailsInfo}
