input:focus, button:focus {outline: none !important;}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=date],
textarea,
select {
  background-color: $input-bg;
  border: $input-border;
  border-radius: $input-radius;
  box-shadow: $input-shadow;
  color: $input-color;
  display: block;
  font-size: $input-font-size;
  font-family: $input-font-family;
  font-weight: $input-weight;
  padding: $input-padding;
  height: $input-height;
  width: 100%;

  &:focus {
    border-color: $input-border-color-focus !important;
  }

  &.error {
    border-color: $input-border-color-error !important;
  }
}
::-webkit-input-placeholder {color: $placeholder-color;opacity: 1;}
:-moz-placeholder {color: $placeholder-color;opacity: 1;}
::-moz-placeholder {color: $placeholder-color;opacity: 1;}
:-ms-input-placeholder {color: $placeholder-color;opacity: 1;}
:focus::-webkit-input-placeholder {opacity: 0;}
:focus:-moz-placeholder {opacity: 0;}
:focus::-moz-placeholder {opacity: 0;}
:focus:-ms-input-placeholder {opacity: 0;}
textarea {
  padding: 15px;
  height: 180px;
  resize: none;
  &::-webkit-input-placeholder {color: $placeholder-color;}
  &:-moz-placeholder {color: $placeholder-color;}
  &::-moz-placeholder {color: $placeholder-color;}
  &:-ms-input-placeholder {color: $placeholder-color;}
}

input[type=date] {
  font-size: $font-size12;
  &::-webkit-clear-button { display: none; }
  &::-webkit-calendar-picker-indicator {
    background: url('../images/calendar.svg') 100% center no-repeat;
    border-width: thin;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 1.5em;

  .form__label {
    color: $gray-dark;
    display: block;
    font-size: $font-size14;
  }

  .form__field {
    margin-bottom: 2em;
    width: 100%;

    &--half {
      flex: 0 0 50%;
      width: 50%;
    }
    &--full {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  .form__select {
    position: relative;
    &:before {
      content: "\e903";
      color: $gray-light;
      font-family: 'GroupAuto';
      font-size: 24px;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }
  }

  input.invalid, select.invalid {
    border-color: $input-border-color-error !important;
  }
  span.invalid {
    color: $red;
    display: inline-block;
    margin-top: 3px;
  }
}
