extends ../../base
block title
  | Попап таблица применимости

block content
  .page
    .wrapper
      button.btn.btn-primary#btnApplicabilityTable Таблица применимости

block modal
  include ../../views/modal/applicabilityTable
  include ../../views/shared/overlay
