extends ../../base
block title
  | Попап проверить наличие

block content
  .page
    .wrapper
      button.btn.btn-primary#btnCheckAvailability проверить наличие

block modal
  include ../../views/modal/checkAvailability
  include ../../views/shared/overlay
