extends ../../base
block title
  | Попап проверить наличие (Аналоги)

block content
  .page
    .wrapper
      button.btn.btn-primary#btnCheckAvailabilityAnalogs проверить наличие (Аналоги)

block modal
  include ../../views/modal/checkAvailabilityAnalogs
  include ../../views/shared/overlay
