extends ../../base
block title
  | Попап детали модели

block content
  .page
    .wrapper
      button.btn.btn-primary#btnDetailsModel Детали модели

block modal
  include ../../views/modal/detailsModel
  include ../../views/shared/overlay
