extends ../../base
block title
  | Попап дополнительная информация

block content
  .page
    .wrapper
      button.btn.btn-primary#btnDetails Дополнительная информация

block modal
  include ../../views/modal/details
  include ../../views/shared/overlay
