extends ../../base
block title
  | Попап фильтр заказов

block content
  .page
    .wrapper
      button.btn.btn-primary#btnFilter Фильтр заказов

block modal
  include ../../views/modal/filter
  include ../../views/shared/overlay
