extends ../../base
block title
  | Попап напоминание пароля (успешен)

block content
  .page
    .wrapper
      button.btn.btn-primary#btnForgotPasswordSuccess Напоминание пароля (успешен)

block modal
  include ../../views/modal/forgotPasswordSuccess
  include ../../views/shared/overlay
