extends ../../base
block title
  | Попап напоминание пароля

block content
  .page
    .wrapper
      button.btn.btn-primary#btnForgotPassword Напоминание пароля

block modal
  include ../../views/modal/forgotPassword
  include ../../views/shared/overlay
