extends ../../base
block title
  | Попап детали модели

block content
  .page
    .wrapper
      button.btn.btn-primary#btnModelDetails Детали модели

block modal
  include ../../views/modal/modelDetails
  include ../../views/shared/overlay
