extends ../../base
block title
  | Попап отправить заказ (успешно)

block content
  .page
    .wrapper
      button.btn.btn-primary#btnConfirmOrderSendSuccess--stub Отправить заказ (успешно)

block modal
  include ../../views/modal/orderSendSuccess
  include ../../views/shared/overlay
