extends ../../base
block title
  | Попап отменить заказ

block content
  .page
    .wrapper
      button.btn.btn-primary#btnProductCancel--stub Отменить заказ

block modal
  include ../../views/modal/productCancel
  include ../../views/shared/overlay