extends ../../base
block title
  | Попап расписание

block content
  .page
    .wrapper
      button.btn.btn-primary#btnSchedule Расписание

block modal
  include ../../views/modal/schedule
  include ../../views/shared/overlay
