extends ../../base
block title
  | Попап уточнение запроса

block content
  .page
    .wrapper
      button.btn.btn-primary.btn-search Уточнение запроса

block modal
  include ../../views/modal/search
  include ../../views/shared/overlay
