.modal-forgot-password {

  .form__field {
    margin-bottom: 2em;
  }

  .form__btns {
    border-top: 1px solid $gray-light;
    padding-top: 1.6em;
  }

  .btn-cancel {
    margin-right: 1em;
  }
}
