extends ../../base
block title
  | Корзина

block content
  .page
    .wrapper
      button.btn.btn-primary#btnCartPanel Корзина

block modal
  include ../../views/sidebar/cart
  include ../../views/shared/overlay
