extends ../../base
block title
  | Самовывоз

block content
  .page
    .wrapper
      button.btn.btn-primary#btnOrderSendPanel Самовывоз

block modal
  include ../../views/sidebar/orderSend
  include ../../views/shared/overlay
