extends ../../base
block title
  | Доставка

block content
  .page
    .wrapper
      button.btn.btn-primary#btnOrderDeliveryPanel Доставка

block modal
  include ../../views/sidebar/orderDelivery
  include ../../views/shared/overlay
