extends ../../base
block title
  | Описание товара

block content
  .page
    .wrapper
      button.btn.btn-primary#btnProductDescriptionPanel Описание товара

block modal
  include ../../views/sidebar/productDescription
  include ../../views/modal/checkAvailability
  include ../../views/shared/overlay
