- var logo = {
-   src: require('../../../images/logo-small.png'),
-   alt: 'Groupauto',
-}

header.header
  .header__top
    figure.logo
      img.logo-img(src=logo.src alt=logo.alt)
    ul.menu
      li.menu__item#btnContacts
        i.icon-phone
      li.menu__item#btnDetails
        i.icon-details
      li.menu__item#btnMenu
        i.icon-menu

  .search
    input(type="text" placeholder="Поиск")
    button.btn.btn-primary(type="button")
      i.icon-search