.pagination
  nav.pagination__nav
    a.pagination__link.prev(disabled)
      i.icon-arrow-left-double

    a.pagination__link 1
    a.pagination__link
      i.icon-points

    a.pagination__link 8
    a.pagination__link.active 9
    a.pagination__link 10

    a.pagination__link
      i.icon-points
    a.pagination__link 23
      
    a.pagination__link.next
      i.icon-arrow-right-double