@font-face {
  font-family: 'GroupAuto';
  src: url(.././fonts/GroupAuto.eot);
  src: url(.././fonts/GroupAuto.eot#iefix) format("embedded-opentype"), url(.././fonts/GroupAuto.ttf) format("truetype"), url(.././fonts/GroupAuto.woff) format("woff"), url(.././fonts/GroupAuto.svg#GroupAuto) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GroupAuto' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\E924";
}

.icon-search:before {
  content: "\E90F";
}

.icon-check:before {
  content: "\E910";
}

.icon-money:before {
  content: "\E911";
}

.icon-delivery:before {
  content: "\E912";
}

.icon-truck:before {
  content: "\E913";
}

.icon-cart:before {
  content: "\E914";
}

.icon-refresh:before {
  content: "\E915";
}

.icon-points:before {
  content: "\E916";
}

.icon-plus:before {
  content: "\E917";
}

.icon-arrow-right-double:before {
  content: "\E918";
}

.icon-arrow-left-double:before {
  content: "\E919";
}

.icon-motorbike:before {
  content: "\E91A";
}

.icon-minus:before {
  content: "\E91B";
}

.icon-cube:before {
  content: "\E91C";
}

.icon-info:before {
  content: "\E91D";
}

.icon-details:before {
  content: "\E91E";
}

.icon-clock:before {
  content: "\E91F";
}

.icon-location:before {
  content: "\E90E";
}

.icon-exit:before {
  content: "\E90D";
}

.icon-menu:before {
  content: "\E90C";
}

.icon-mail:before {
  content: "\E90B";
}

.icon-link:before {
  content: "\E90A";
}

.icon-filter:before {
  content: "\E909";
}

.icon-copyright:before {
  content: "\E908";
}

.icon-contract:before {
  content: "\E907";
}

.icon-attention:before {
  content: "\E906";
}

.icon-phone:before {
  content: "\E905";
}

.icon-car:before {
  content: "\E904";
}

.icon-arrow-left:before {
  content: "\E920";
}

.icon-arrow-down:before {
  content: "\E903";
}

.icon-arrow-up:before {
  content: "\E902";
}

.icon-calendar:before {
  content: "\E901";
}

.icon-cross:before {
  content: "\E900";
}

.icon-word:before {
  content: "\E921";
}

.icon-pdf:before {
  content: "\E922";
}

.icon-document:before {
  content: "\E923";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

figure {
  display: block;
}

img {
  border: none;
  display: block;
}

h1,
h2,
h3,
label {
  font-weight: 500;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.3em;
}

a {
  color: #2c80c9;
  text-decoration: none;
}

a:hover {
  color: #2c80c9;
  text-decoration: none;
}

a:active,
a.active {
  color: #2c80c9;
}

ul {
  list-style-type: none;
}

ul li {
  list-style-type: none;
  display: block;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.text-regular {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.not-scroll {
  overflow: hidden;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.main {
  position: relative;
}

.page {
  padding-top: 12em;
}

.section {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.section__header {
  padding: 1.6em 0;
}

.section__title {
  color: #1e588a;
  font-size: 1.6em;
}

.wrapper {
  padding: 0 1.5em;
}

.blockFixed {
  background-color: #fff;
  margin: 0 -1.5em;
  padding: 0 1.5em 1.5em;
  position: fixed;
  width: 100%;
  z-index: 99;
}

input:focus,
button:focus {
  outline: none !important;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=date],
textarea,
select {
  background-color: inherit;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: none;
  color: #6e7788;
  display: block;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 0 15px;
  height: 36px;
  width: 100%;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=date]:focus,
textarea:focus,
select:focus {
  border-color: #2c80c9 !important;
}

input[type=text].error,
input[type=password].error,
input[type=email].error,
input[type=tel].error,
input[type=date].error,
textarea.error,
select.error {
  border-color: #f00 !important;
}

::-webkit-input-placeholder {
  color: #b7bcc4;
  opacity: 1;
}

:-moz-placeholder {
  color: #b7bcc4;
  opacity: 1;
}

::-moz-placeholder {
  color: #b7bcc4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b7bcc4;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea {
  padding: 15px;
  height: 180px;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #b7bcc4;
}

textarea:-moz-placeholder {
  color: #b7bcc4;
}

textarea::-moz-placeholder {
  color: #b7bcc4;
}

textarea:-ms-input-placeholder {
  color: #b7bcc4;
}

input[type=date] {
  color: rgba(255, 255, 255, 0);
  font-size: 1.2em;
  position: relative;
  white-space: nowrap;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: url(.././images/calendar.svg) 100% center no-repeat;
  border-width: thin;
  color: rgba(255, 255, 255, 0);
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
}

input[type=date]:before {
  content: attr(data-date);
  background-color: #fff;
  color: #6e7788;
  padding-left: 9px;
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  line-height: 36px;
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 1.5em;
}

.form .form__label {
  color: #6e7788;
  display: block;
  font-size: 1.4em;
}

.form .form__field {
  margin-bottom: 2em;
  width: 100%;
}

.form .form__field--half {
  flex: 0 0 50%;
  width: 50%;
}

.form .form__field--full {
  flex: 0 0 100%;
  width: 100%;
}

.form .form__select {
  position: relative;
}

.form .form__select:before {
  content: "\E903";
  color: #b7bcc4;
  font-family: 'GroupAuto';
  font-size: 24px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.form input.invalid,
.form select.invalid {
  border-color: #f00 !important;
}

.form span.invalid {
  color: #f00;
  display: inline-block;
  margin-top: 3px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  color: #6e7788;
  font-size: 1.2em;
  padding-left: 30px;
  position: relative;
  padding-top: 2px;
  min-height: 20px;
  display: flex;
}

input[type=checkbox] + label:before,
input[type=checkbox] + label:after {
  position: absolute;
  top: 0;
  left: 0;
}

input[type=checkbox] + label:before {
  content: '';
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  transition: background-color .3s;
}

input[type=checkbox] + label:after {
  content: '\E910';
  color: rgba(255, 255, 255, 0);
  font-family: 'GroupAuto' !important;
  font-size: 22px;
  line-height: 18px;
  transition: color .3s;
}

input[type=checkbox]:checked + label:before {
  background-color: #2c80c9;
  border: 1px solid #2c80c9;
}

input[type=checkbox]:checked + label:after {
  color: #fff;
}

.btn {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  border-color: rgba(255, 255, 255, 0);
  font-size: 1.6em;
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding: 0 1em;
  height: 44px;
  width: 100%;
}

.btn-primary {
  background-color: #2c80c9;
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
}

.btn-white {
  background-color: #fff;
  color: #2c80c9;
  border-color: #2c80c9;
}

.btn-transparent {
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  border-color: rgba(255, 255, 255, 0);
  padding: 0;
  height: auto;
  width: auto;
  display: inline;
  font-size: 1.3em;
  text-transform: uppercase;
}

.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #2c80c9;
  border-color: rgba(255, 255, 255, 0);
}

.btn-link {
  background-color: rgba(255, 255, 255, 0);
  color: #2c80c9;
  border-color: rgba(255, 255, 255, 0);
  padding: 0;
  height: auto;
  width: auto;
  display: inline;
}

.btn-link:active {
  border-bottom: 1px solid #2c80c9 !important;
  border-radius: 0;
}

.btn-green {
  background-color: #00d763;
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
}

.btn-pink {
  background-color: #d70074;
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
}

.btn-red {
  background-color: #f00;
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
}

.btn-turquoise {
  background-color: #2cc9c4;
  color: #fff;
  border-color: rgba(255, 255, 255, 0);
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  color: #6e7788;
  font-size: 1.2em;
  padding-left: 30px;
  position: relative;
  padding-top: 2px;
  min-height: 20px;
  display: flex;
}

input[type=radio] + label:before,
input[type=radio] + label:after {
  position: absolute;
  top: 0;
  left: 0;
}

input[type=radio] + label:before {
  content: '';
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: background-color .3s, border .3s;
}

input[type=radio] + label:after {
  content: '';
  background-color: rgba(44, 128, 201, 0);
  border-radius: 50%;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  transition: background-color .3s;
}

input[type=radio]:checked + label:before {
  border: 1px solid #2c80c9;
}

input[type=radio]:checked + label:after {
  background-color: #2c80c9;
}

select {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-selected {
  background-color: inherit;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: none;
  color: #6e7788;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding: 0 15px;
  height: 36px;
  line-height: 36px;
  width: 100%;
  white-space: nowrap;
}

.select-selected.error {
  border-color: #f00 !important;
}

.select-selected.select-arrow-active {
  border-color: #2c80c9 !important;
}

.select-items {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: .7em 1em;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 1;
}

.select-items > div {
  color: #6e7788;
  font-size: 1.2em;
  padding: .3em 0;
  white-space: nowrap;
}

.select-hide {
  display: none;
}

.header {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 12em;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.header .back-link {
  color: #6e7788;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: 500;
  height: 24px;
}

.header .back-link:before {
  content: '\E920';
  font-family: 'GroupAuto';
  font-size: 26px;
}

.menu {
  display: flex;
}

.menu__item {
  margin-left: 2.5em;
}

.menu__item i {
  color: #6e7788;
  cursor: pointer;
  font-size: 24px;
}

.menu__item i.icon-details {
  font-size: 26px;
}

.search {
  display: flex;
  justify-content: space-between;
}

.search__field {
  background-color: #fff;
  position: relative;
  width: calc(100% - 50px);
}

.search__field .icon-arrow-down {
  color: #6e7788;
  font-size: 2.4em;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

.search__field input {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  height: 40px;
  z-index: 2;
}

.search button {
  padding: 0;
  width: 40px;
  height: 40px;
}

.search button i {
  font-size: 24px;
}

.search__dropdown {
  background-color: #fff;
  box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: none;
  padding: 1.5em 1.5em 1em;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 30em;
  overflow: auto;
}

.search__dropdown.active {
  display: block;
}

.search__item {
  margin-bottom: 1em;
}

.search__value {
  cursor: pointer;
  color: #6e7788;
  font-size: 1.4em;
  font-weight: normal;
}

.search__btns {
  border-top: 1px solid #e3e3e3;
  padding-top: 1.4em;
}

.search__btn {
  margin-bottom: 1em;
}

.search__btn:last-child {
  margin: 0;
}

.search__btn .btn {
  color: #6e7788;
  font-size: 1.4em;
  font-weight: normal;
}

.footer {
  background-color: #6e7788;
  line-height: 4em;
  padding: 0 1.5em;
}

.copyright {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.copyright span {
  font-size: 1.1em;
}

.copyright span:first-child {
  margin-right: .5em;
}

.copyright .icon-copyright {
  font-size: 2.4em;
  margin-bottom: 5px;
}

.modal {
  background-color: #fff;
  border-radius: 2px;
  display: none;
  min-width: 25em;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
}

.modal.active {
  display: block;
}

.modal__close {
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 1.2em;
  right: 1.4em;
  z-index: 3;
}

.modal__close:hover {
  color: #2c80c9;
}

.modal__close i {
  font-size: 2.4em;
}

.modal .blockFixedToTop {
  background-color: #fff;
  padding: 0 1.5em;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.modal__header {
  background-color: #fff;
  padding: 1.6em 5em .8em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal__header:before {
  content: '';
  background-color: #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 1.5em;
  height: 1px;
  width: calc(100% - 3em);
}

.modal__header h1 {
  color: #1e588a;
  line-height: 1.15em;
}

.modal__content {
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: auto;
}

.modal__footer {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 1.7em 1.5em 1.6em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex: 0 0 100%;
  width: 100%;
  z-index: 2;
}

.modal__footer:before {
  content: '';
  background-color: #e3e3e3;
  position: absolute;
  top: 0;
  left: 1.5em;
  height: 1px;
  width: calc(100% - 3em);
}

.modal__footer .btn-cancel {
  margin-right: 1em;
}

.modal__footer .btn-confirm {
  color: #2c80c9;
}

.aside {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  overflow: auto;
  width: 100%;
  z-index: 105;
  transition: left .3s ease-out;
}

.aside.active {
  left: 0;
}

.aside__close {
  background-color: #333;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 5.5em;
  height: 5.5em;
}

.aside__close i {
  color: #fff;
  font-size: 2.4em;
}

.aside__wrapper {
  background-color: #fff;
  padding: 1.5em 1.5em 5.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: calc(100% - 5.5em);
}

.aside__header {
  padding: 1.5em 0;
}

.aside__header .logo {
  margin-bottom: 5em;
}

.aside__header .logo-img {
  max-width: 18em;
  margin: 0  auto;
}

.aside__title {
  color: #2c80c9;
  font-size: 1.8em;
}

.aside__address {
  color: #6e7788;
  font-size: 1.4em;
  font-weight: 500;
}

.aside__client {
  padding-top: .5em;
}

.aside__client-label {
  font-size: 1.4em;
}

.aside__client-code {
  color: #b7bcc4;
  font-size: 1.4em;
}

.aside__nav {
  padding: 1.5em 0;
}

.aside__nav-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 4.2em;
  padding: 0 15px;
  margin: 0 -15px;
  position: relative;
}

.aside__nav-item:before {
  content: '';
  background-color: #e3e3e3;
  position: absolute;
  left: 1.5em;
  right: 1.5em;
  bottom: -1px;
  height: 1px;
}

.aside__nav-item.active {
  background-color: #2c80c9;
}

.aside__nav-item.active i {
  color: #fff;
}

.aside__nav-item.active span {
  color: #fff;
}

.aside__nav-item i {
  color: #2c80c9;
  font-size: 2.4em;
  margin: 0 7px;
}

.aside__nav-item span {
  color: #333;
  font-size: 1.4em;
  font-weight: 500;
  white-space: normal;
}

.aside .footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 5.5em);
}

.advertising {
  margin: 3em 0;
  text-align: center;
}

.advertising img {
  max-width: 100%;
  margin: 0 auto;
}

.alert {
  padding: 1.5em;
}

.alert--product {
  border-bottom: 1px solid #e3e3e3;
  padding: 0;
}

.alert--product .alert__content {
  box-shadow: none;
}

.alert--product .alert__text {
  font-size: 1.3em;
}

.alert__close {
  cursor: pointer;
  position: absolute;
  top: .1em;
  right: .5em;
}

.alert__close i {
  font-size: 2.4em;
}

.alert__content {
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1.3em 2.3em 1.2em 5.5em;
  position: relative;
}

.alert .icon-attention {
  color: #f00;
  font-size: 3.4em;
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.alert__title {
  margin-bottom: .4em;
}

.alert__text {
  color: #b7bcc4;
  font-size: 1.1em;
  line-height: 1.45;
}

.product__slider {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 3em;
  position: relative;
}

.slider__figure {
  display: flex;
  justify-content: center;
  position: relative;
}

.slider__figure img {
  display: inline-block;
  max-width: 100%;
}

.slider__badge {
  border-radius: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  min-width: 5.4em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.slider__badge:before {
  content: attr(data-badge);
  font-size: 1.1em;
  font-weight: 500;
}

.slider__badge.stock {
  background-color: rgba(109, 210, 48, 0.2);
  color: #6dd230;
}

.slider__badge.sale {
  background-color: rgba(255, 0, 0, 0.2);
  color: #f00;
}

.slider__badge.markdown {
  background-color: rgba(255, 199, 0, 0.2);
  color: #ffc700;
}

.bx-controls-direction {
  display: none;
}

.bx-controls {
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
  height: .8em;
}

.bx-pager {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.bx-pager-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
}

.bx-pager-item:last-child {
  margin: 0;
}

.bx-pager-link {
  font-size: 0;
  line-height: 0;
  background-color: #b7bcc4;
  border-radius: 50%;
  display: block;
  width: 8px;
  height: 8px;
}

.bx-pager-link.active {
  background-color: #6e7788;
}

.pagination {
  text-align: center;
  display: flex;
  padding-top: 2em;
  justify-content: center;
}

.pagination__nav {
  background-color: #6e7788;
  display: flex;
}

.pagination__link {
  color: #b7bcc4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 500;
  margin: 1px;
  margin-left: 0;
  width: 26px;
  height: 26px;
}

.pagination__link:first-child {
  margin-left: 1px;
}

.pagination__link:not(.prev),
.pagination__link:not(.next) {
  background-color: #fff;
}

.pagination__link.prev,
.pagination__link.next {
  background-color: #6e7788;
}

.pagination__link.prev i,
.pagination__link.next i {
  color: #fff;
}

.pagination__link.prev[disabled],
.pagination__link.next[disabled] {
  cursor: default;
}

.pagination__link.prev[disabled] i,
.pagination__link.next[disabled] i {
  color: #b7bcc4;
}

.pagination__link.active {
  color: #2c80c9;
  font-weight: bold;
}

.pagination__link:not(.active) {
  color: #b7bcc4;
}

.pagination__link i {
  font-size: 24px;
}

.pagination__link i.icon-points {
  margin-top: 9px;
}

.exchange {
  display: flex;
  justify-content: space-between;
  max-width: 29em;
  margin: 0 auto;
}

.exchange button {
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-weight: normal;
  height: 30px;
  width: 140px;
}

.exchange button i {
  font-size: 2em;
  margin-right: .15em;
}

.exchange .btn-currency {
  background-color: #c2d8ed;
  color: #1e588a;
  margin-right: 7px;
}

.exchange .btn-exchange {
  background-color: #b5ddff;
  color: #2c80c9;
  margin-left: 7px;
}

.exchange .btn-details-info {
  background-color: #c2d8ed;
  color: #2C58C9;
  margin-left: 7px;
}

.products {
  padding-top: 1.5em;
}

.products__title {
  margin-bottom: .5em;
}

.products__total {
  border-top: 1px solid #e3e3e3;
  margin-top: 2em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.products__total-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .4em;
}

.products__total-item:last-child {
  border-top: 1px solid #e3e3e3;
  margin-top: 1.5em;
  padding-top: 1.5em;
}

.products__total-item:last-child span {
  font-size: 1.8em;
  font-weight: bold;
}

.products__total-label {
  font-size: 1.6em;
}

.products__total-value {
  font-size: 1.6em;
}

.products .btnSend {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.products .btnSend i {
  font-size: 30px;
  margin-right: .5em;
}

.product {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
  padding: 1em;
  position: relative;
  margin-bottom: 1em;
}

.product--select {
  background-color: #f7fafd;
}

.product--description {
  background-color: rgba(255, 255, 255, 0);
  padding: 4.5em 0 0;
  box-shadow: none;
}

.product--description .product__label {
  font-size: 1.4em;
  padding-top: 4px;
}

.product--description .product__content {
  border-bottom: 1px solid #e3e3e3;
  align-items: flex-end;
  padding-bottom: 1em;
}

.product__badge {
  border-radius: 1.5em;
  position: absolute;
  top: 1em;
  right: 1em;
  min-width: 5.4em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}

.product__badge:before {
  content: attr(data-badge);
  font-size: 1.1em;
  font-weight: 500;
}

.product__badge.stock {
  background-color: rgba(109, 210, 48, 0.2);
  color: #6dd230;
}

.product__badge.sale {
  background-color: rgba(255, 0, 0, 0.2);
  color: #f00;
}

.product__badge.markdown {
  background-color: rgba(255, 199, 0, 0.2);
  color: #ffc700;
}

.product__cancel {
  cursor: pointer;
  position: absolute;
  top: 1px;
  right: .6em;
}

.product__cancel i {
  color: #6e7788;
  font-size: 2.4em;
}

.product__title {
  color: #1e588a;
}

.product__label {
  color: #b7bcc4;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.product__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__item {
  margin-bottom: .2em;
}

.product__item-label {
  color: #6e7788;
  font-size: 1.2em;
  display: inline-block;
  min-width: 4.5em;
}

.product__item-value {
  font-size: 1.4em;
  font-weight: 500;
}

.product__category {
  border-left: 1px solid #e3e3e3;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex: 0 0 10em;
  width: 10em;
}

.product__category i {
  color: #6e7788;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  width: 36px;
  height: 36px;
}

.product__total {
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: .5em;
  margin-top: 1em;
}

.product__total-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.product__status {
  border-radius: 50%;
  margin: 0 1.5em;
  width: 2em;
  height: 2em;
}

.product__status.green {
  background-color: #00d763;
}

.product__status.red {
  background-color: #f00;
}

.product__status.yellow {
  background-color: #ffc700;
}

.product__pr {
  cursor: pointer;
  color: #2c80c9;
  font-size: 1.4em;
  font-weight: 500;
  margin-right: 1em;
  height: 20px;
}

.product__article {
  cursor: pointer;
  color: #2c80c9;
  font-size: 3.6em;
  font-weight: 500;
  margin-top: -7px;
  height: 33px;
  line-height: 1;
}

.product__sum {
  font-size: 1.8em;
  font-weight: bold;
}

.product__cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product .btn-cart {
  color: #2c80c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6em;
  padding: 0;
  height: 33px;
  width: 33px;
}

.product__details {
  padding-top: 1em;
  padding-bottom: 2.5em;
}

.product__details-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .6em;
}

.product__details-label {
  font-size: 1.4em;
  width: 60%;
  flex: 0 0 60%;
}

.product__details-value {
  color: #6e7788;
  font-size: 1.4em;
  width: 40%;
  flex: 0 0 40%;
  text-align: right;
}

.product__description {
  padding-top: 1em;
}

.product__description-item h2 {
  margin-bottom: 7px;
}

.product__description-item p {
  color: #6e7788;
  margin-bottom: 15px;
}

.product__description-item li {
  color: #6e7788;
  font-size: 1.3em;
  padding-left: 1em;
  position: relative;
  margin-bottom: 15px;
}

.product__description-item li:before {
  content: '';
  background-color: #b7bcc4;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
}

.product__docs {
  padding-top: 1em;
}

.product__docs-list {
  padding-top: 1em;
}

.product__docs-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1.8em;
}

.product__docs-item i {
  color: #6e7788;
  font-size: 2.8em;
}

.product__docs-item span {
  color: #b7bcc4;
  font-size: 1.3em;
  margin-top: .5em;
  margin-left: .5em;
}

.product--check .product__content {
  display: block;
}

.product--check .product__list {
  padding-top: .5em;
  padding-bottom: 1em;
}

.product--check .counter__amount input {
  font-size: 1.6em;
}

.checkProduct {
  padding: 1.6em 0;
}

.checkProduct__counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.6em;
}

.checkProduct__label {
  color: #6e7788;
  font-size: 1.4em;
}

.availability {
  border-top: 1px solid #e3e3e3;
  padding: 1.2em 0 0;
}

.availability__header {
  display: flex;
  justify-content: center;
}

.availability__title {
  margin-bottom: 1em;
  flex: 0 0 calc(100% - 111px);
  width: calc(100% - 111px);
}

.availability__title:last-child {
  flex: 0 0 111px;
  text-align: center;
  width: 111px;
}

.availability__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.availability__item:last-child {
  margin-bottom: 0;
}

.availability__label {
  color: #6e7788;
  font-size: 1.2em;
  flex: 0 0 calc(100% - 111px);
  width: calc(100% - 111px);
  padding-right: 1em;
}

.availability__value {
  flex: 0 0 111px;
  text-align: center;
  width: 111px;
}

.availability__count {
  font-size: 1.6em;
  font-weight: 500;
}

.availability__count.red {
  color: #f00;
}

.availability__count.green {
  color: #00d763;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11.1em;
}

.counter__button {
  background-color: #e3e3e3;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.3em;
  height: 3.3em;
}

.counter__button i {
  font-size: 2.4em;
}

.counter__amount input {
  background-color: #fff;
  font-size: 1.8em;
  font-weight: 500;
  width: 33px;
  height: 33px;
  padding: 0 5px;
  text-align: center;
}

.overlay {
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background-color .3s ease-out;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
}

.modal-details {
  min-width: 29em;
}

.modal-details h1 {
  color: #1e588a;
}

.modal-details__info {
  padding-top: 1.2em;
}

.modal-details__request {
  border-top: 1px solid #e3e3e3;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding-top: 1em;
}

.modal-details__sale {
  margin-bottom: 2em;
}

.modal-details__request > div,
.modal-details__sale > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: .7em;
}

.modal-details__item {
  margin-bottom: 1.5em;
}

.modal-details__item:last-child {
  margin: 0;
}

.modal-details__title {
  margin-bottom: 2px;
}

.modal-details__text {
  color: #6e7788;
  font-size: 1.4em;
}

.modal-details__label {
  color: #6e7788;
  font-size: 1.2em;
}

.modal-details__value {
  color: #b7bcc4;
  font-size: 1.2em;
}

.modal-filter {
  min-width: 29em;
}

.modal-filter .filter > div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.modal-filter .filter > div:first-child > label {
  margin-bottom: 1em;
}

.modal-filter .filter > div:first-child > div {
  margin-bottom: 2em;
}

.modal-filter .filter > div:nth-child(3) {
  margin-bottom: 11.5em;
}

.modal-filter .input--days {
  display: inline;
  font-size: 16px;
  text-align: center;
  width: 55px;
  margin: 0 5px;
}

.modal-filter .filter__date {
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: 1em;
}

.modal-filter .filter__date span {
  color: #6e7788;
  font-size: 14px;
  font-weight: 500;
  margin: 0 3px;
}

.modal-filter .filter__date span:first-child {
  margin-left: 0;
}

.modal-filter .filter__date .input--date {
  display: inline;
  padding: 0 5px;
  width: 100px;
}

.modal-select-model {
  min-width: 29em;
}

.modal-select-model input[type=radio] + label {
  font-size: 1.4em;
  font-weight: normal;
}

.modal-schedule {
  min-width: 29em;
}

.schedule__head {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
  padding-bottom: .8em;
}

.schedule__head > div {
  font-weight: 500;
}

.schedule__row {
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.schedule__row:last-child {
  border: none;
}

.schedule__row > div {
  color: #6e7788;
  font-size: 1.2em;
}

.schedule__radio + .schedule__label {
  display: flex;
  flex: 0 0 100%;
  width: 100%;
  padding: 1em 0 .8em;
}

.schedule__radio + .schedule__label:before,
.schedule__radio + .schedule__label:after {
  display: none;
}

.schedule__radio:checked + .schedule__label {
  background-color: #2c80c9;
  flex: 0 0 calc(100% + 3em);
  width: calc(100% + 3em);
  margin: 0 -1.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.schedule__radio:checked + .schedule__label > div {
  color: #fff;
}

.schedule__item {
  flex: 0 0 33.33%;
  padding: 0 5px;
  text-align: center;
}

.schedule__item span {
  display: block;
}

.modal-applicability-table {
  min-width: 29em;
}

.modal-applicability-table .btn-cancel {
  color: #2c80c9;
  margin-right: 0;
}

.applicability {
  padding: 1.5em 0;
}

.applicability__content {
  padding: 1em 1.5em 0;
  margin: 0 -1.5em 1em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.applicability__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: .6em;
}

.applicability__label {
  font-size: 1.2em;
  flex: 0 0 50%;
  width: 50%;
}

.applicability__value {
  color: #6e7788;
  font-size: 1.2em;
  flex: 0 0 50%;
  width: 50%;
  text-align: right;
}

.applicability__btn {
  border-top: 1px solid #e3e3e3;
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1.2em;
  height: 3.6em;
}

.applicability__btn.active {
  margin-top: 0;
}

.applicability__btn.active i {
  transform: rotate(180deg);
}

.applicability__btn i {
  color: #b7bcc4;
  font-size: 2.4em;
}

.applicability__clarification {
  background-color: #f7fafd;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  display: none;
  padding: 1.2em 1.5em;
  margin: 1.2em -1.5em -1px;
}

.applicability__clarification.active {
  display: block;
}

.modal-details-model {
  min-width: 29em;
}

.modal-details-model .orders__content {
  padding-top: 1.5em;
}

.modal-details-model .order {
  padding-bottom: 1em;
}

.modal-details-model .order__title {
  margin-bottom: 5px;
}

.modal-details-model .order__item:last-child {
  margin-bottom: 0;
}

.modal-details-model .order__total {
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  margin: 0 -1.5em;
  padding: 1.2em 1.5em;
}

.modal-details-model .order__currency {
  border-top: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  padding-top: 1.2em;
}

.modal-details-model .order__btns {
  padding: 1.5em 0;
}

.modal-details-model .order__btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.modal-details-model .order__btns .btn:last-child {
  margin: 0;
}

.modal-details-model .order__btns .btn i {
  font-size: 22px;
  margin-right: 10px;
}

.modal-select-order {
  min-width: 29em;
}

.modal-select-order input[type=radio] + label {
  display: block;
  padding: 1.2em 1.5em 0;
  font-size: 10px;
}

.modal-select-order input[type=radio] + label:before,
.modal-select-order input[type=radio] + label:after {
  display: none;
}

.modal-select-order input[type=radio]:checked + label {
  background-color: #2c80c9;
}

.modal-select-order input[type=radio]:checked + label .order__label,
.modal-select-order input[type=radio]:checked + label .icon-arrow-down {
  color: #fff;
}

.modal-select-order input[type=radio]:checked + label .order__value {
  color: #fff;
}

.modal-select-order input[type=radio]:checked + label .order__value > a,
.modal-select-order input[type=radio]:checked + label .order__value > span {
  color: #fff;
}

.modal-select-order input[type=radio]:checked + label .order__show-more {
  border-color: #fff;
}

.modal-select-order .order {
  padding: 0;
}

.modal-check-availability {
  min-width: 29em;
  padding-bottom: 1em;
}

.stub-pages {
  padding: 2.5em;
}

.stub-pages__title {
  font-size: 2.4em;
  margin-bottom: 1em;
}

.stub-pages__item {
  margin-bottom: 1.5em;
}

.stub-pages__item a {
  font-size: 1.8em;
}

.stub-pages hr {
  margin: 2em 0;
}

.header-login {
  background-color: #fff;
  padding: 2em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 9em;
  text-align: center;
}

.header-login .logo-img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
}

.login {
  padding-top: 9em;
}

.login__form {
  padding-top: 4em;
  padding-bottom: 2.6em;
}

.login__form .form__field {
  margin-bottom: 3em;
}

.login__form .form__field label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.login__form .form__field input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  font-size: 1.4em;
  padding: 0;
  height: 30px;
}

.login__form .form__field input:focus {
  border-color: #2c80c9;
}

.login__form .form__field input.error {
  border-color: #f00;
}

.login__form .form__btns {
  text-align: center;
  width: 100%;
}

.login__form .form__btns .btn-link {
  font-size: 1.2em;
  margin-top: 1.6em;
}

.login__form .form__btns .form__btns {
  color: #2c80c9;
}

.login-footer {
  text-align: center;
}

.login-footer__item {
  padding: 2.7em 0 2.6em;
}

.login-footer__item:first-child {
  position: relative;
}

.login-footer__item:first-child:before {
  content: '';
  background-color: #e3e3e3;
  position: absolute;
  bottom: 0;
  left: calc(50% - 6em);
  width: 120px;
  height: 1px;
}

.login-footer__item:last-child {
  padding: 0 0 2em;
}

.login-footer .title {
  color: #6e7788;
  font-size: 1.2em;
  text-transform: uppercase;
}

.login-footer .logo {
  padding-top: .2em;
}

.login-footer .logo__img {
  margin: 0 auto;
}

.login-footer .phone {
  padding-top: .3em;
  margin-bottom: 1.3em;
}

.login-footer .phone__number {
  color: #333;
  font-size: 2.8em;
  font-weight: 500;
}

.login-footer .phone__text {
  color: #b7bcc4;
  font-size: 10px;
}

.login-footer .email__link {
  font-size: 1.4em;
}

.login-footer .work-schedule {
  padding-top: .2em;
}

.login-footer .work-schedule__item {
  margin-bottom: .2em;
}

.login-footer .work-schedule__day {
  font-size: 1.2em;
  font-weight: 500;
}

.login-footer .work-schedule__time {
  color: #b7bcc4;
  font-size: 1.2em;
  font-weight: 500;
}

.modal-forgot-password h1 {
  color: #333;
}

.modal-forgot-password-success {
  width: 25em;
}

.modal-forgot-password-success header {
  padding-bottom: .3em;
}

.modal-forgot-password-success header:before {
  display: none;
}

.modal-forgot-password-success h1 {
  color: #333;
}

.modal-forgot-password-success .modal__wrapper {
  padding-bottom: 2.4em;
}

.modal-forgot-password-success p {
  color: #6e7788;
  margin-bottom: 8px;
}

.modal-forgot-password-success .email {
  color: #333;
  display: block;
}

.modal-forgot-password-success label {
  color: #f00;
}

.contacts__item {
  margin-bottom: 4.5em;
}

.contacts__title {
  font-size: 1.4em;
  text-transform: uppercase;
}

.contacts i {
  position: absolute;
  top: 0;
  left: 0;
}

.contacts i:before {
  color: #2c80c9;
  font-size: 2.4em;
}

.contacts .logo {
  padding-top: .2em;
}

.contacts .phone {
  margin-top: .5em;
  margin-bottom: 1.3em;
  padding-left: 3.5em;
  position: relative;
}

.contacts .phone i {
  top: .6em;
}

.contacts .phone i:before {
  font-size: 2.2em;
}

.contacts .phone__number {
  color: #333;
  font-size: 1.8em;
  font-weight: 500;
}

.contacts .phone__text {
  color: #b7bcc4;
  font-size: 10px;
  margin-top: -.3em;
}

.contacts .email {
  padding-left: 3.5em;
  position: relative;
}

.contacts .email i {
  top: -.3em;
}

.contacts .email i:before {
  font-size: 2.2em;
}

.contacts .email__link {
  font-size: 1.2em;
  font-weight: 500;
}

.contacts .work-schedule {
  padding-top: 1em;
  padding-left: 3.5em;
  position: relative;
}

.contacts .work-schedule i {
  top: 1.4em;
}

.contacts .work-schedule__item {
  margin-bottom: .2em;
}

.contacts .work-schedule__day {
  color: #6e7788;
  font-size: 1.2em;
}

.contacts .work-schedule__time {
  color: #6e7788;
  font-size: 1.2em;
  font-weight: 500;
}

.contacts .location {
  padding-top: 1.6em;
  padding-left: 3.5em;
  padding-bottom: 1.6em;
  position: relative;
}

.contacts .location i {
  top: 1.5em;
}

.contacts .location i:before {
  font-size: 2.6em;
}

.contacts .location__item {
  color: #6e7788;
  font-size: 1.2em;
  margin-bottom: 2px;
}

.contacts .location__link {
  color: #6e7788;
}

.contacts .location__link:hover {
  color: #6e7788;
}

.contacts .location__map img {
  max-width: 100%;
}

.modal-contacts {
  min-width: 28em;
}

.modal-contacts header {
  padding: 1.6em 5em .8em;
}

.modal-contacts header:before {
  display: none;
}

.modal-contacts__item:first-child {
  padding-top: 1.4em;
  padding-bottom: 2.8em;
  position: relative;
}

.modal-contacts__item:first-child:before {
  content: '';
  background-color: #e3e3e3;
  position: absolute;
  bottom: 0;
  left: calc(50% - 6em);
  width: 120px;
  height: 1px;
}

.modal-contacts__item:last-child {
  padding-top: 2.6em;
  padding-bottom: 2.6em;
}

.modal-contacts__title {
  color: #b7bcc4;
  text-transform: uppercase;
}

.modal-contacts__logo-img {
  margin: 0  auto;
}

.modal-contacts__phone {
  padding-top: .7em;
}

.modal-contacts__phone-number {
  color: #2c80c9;
  font-size: 2.4em;
  font-weight: 500;
}

.modal-contacts__phone-text {
  color: #b7bcc4;
  margin-top: -.3em;
}

.orders__header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  padding-top: 2.2em;
  padding-bottom: .4em;
  position: relative;
}

.orders__title {
  color: #1e588a;
}

.orders__filter i {
  color: #6e7788;
  font-size: 2.4em;
}

.orders__content {
  width: 100%;
}

.section--order {
  background-color: #fbfbfb;
}

.order {
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
  margin: 0 -1.5em 1em;
  padding: 1.2em 1.5em 0;
  position: relative;
  z-index: 1;
}

.order--details {
  box-shadow: none;
}

.order--details .order__item {
  border-bottom: 1px solid #e3e3e3;
  padding-top: .8em;
  padding-bottom: 1em;
  margin: 0;
}

.order--details .order__item:first-child {
  padding-top: 0;
}

.order--details .order__show-more {
  border: none;
  margin: 0;
}

.order--accepted .order__dropdown {
  display: block;
}

.order__header {
  padding-top: 1.5em;
}

.order__title {
  color: #1e588a;
}

.order__title:after {
  content: attr(data-subtitle);
  color: #6e7788;
}

.order__item {
  display: none;
  flex-wrap: wrap;
  margin-bottom: .6em;
}

.order__item.active,
.order__item.visible {
  display: flex;
  justify-content: space-between;
}

.order__label {
  font-size: 1.4em;
  flex: 0 0 40%;
}

.order__value {
  color: #6e7788;
  font-size: 1.4em;
  flex: 0 0 60%;
  text-align: right;
}

.order__value.formed {
  color: #6e7788;
  font-weight: 500;
}

.order__value.onProcessing {
  color: #f00;
  font-weight: 500;
}

.order__value.onProcessing > span {
  color: #6e7788;
  font-weight: normal;
}

.order__value.accepted {
  color: #ff7a00;
  font-weight: 500;
}

.order__value.closed {
  color: #333;
  font-weight: 500;
}

.order__value.canceled {
  color: #6e7788;
  font-weight: 500;
  font-style: italic;
}

.order__value.contract {
  color: #2c80c9;
}

.order__show-more {
  border-top: 1px solid #e3e3e3;
  cursor: pointer;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1.6em;
  height: 3.6em;
}

.order__show-more.active i {
  transform: rotate(180deg);
}

.order__show-more i {
  color: #b7bcc4;
  font-size: 2.4em;
}

.order__select {
  color: #2c80c9;
  cursor: pointer;
  padding-right: 24px;
  position: relative;
}

.order__select i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}

.order__select.active i {
  transform: rotate(180deg);
}

.order__dropdown {
  background-color: #fff;
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
  flex: 0 0 100%;
  margin: 1em 0 .5em;
  padding: .7em 1em .8em;
  width: 100%;
}

.order__dropdown.visible {
  display: block;
}

.order__dropdown-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8em;
}

.order__dropdown-item:last-child {
  margin: 0;
}

.order__dropdown-label {
  color: #6e7788;
  font-size: 1.2em;
  width: 50%;
}

.order__dropdown-value {
  color: #b7bcc4;
  font-size: 1.2em;
  text-align: right;
  width: 50%;
}

.modal-product-cancel .modal__wrapper {
  padding: 2.5em 2em;
}

.modal-product-cancel .modal__wrapper h1 {
  line-height: 1.43;
}

.modal-order-send {
  min-width: 28em;
}

.modal-order-send .modal__wrapper {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.modal-order-send .modal__wrapper h1 {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin-bottom: .7em;
  line-height: 1.43;
}

.modal-order-send .modal__wrapper p {
  color: #6e7788;
  text-align: center;
}

.modal-order-send-success {
  min-width: 25em;
}

.modal-order-send-success .modal__wrapper {
  padding: 2.5em;
}

.modal-order-send-success .modal__wrapper h1 {
  line-height: 1.43;
}

.section--search-results {
  background-color: #fbfbfb;
}

.search-results__header {
  padding-top: 1.7em;
}

.search-results__title {
  color: #1e588a;
}

.search-results__query {
  display: block;
}

.search-results__sorts {
  padding-top: .5em;
  text-align: right;
}

.search-results__sorts-link {
  color: #2c80c9;
  cursor: pointer;
  font-size: 1.4em;
  padding-right: 2em;
  position: relative;
}

.search-results__sorts-link i {
  font-size: 22px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.modal-cart {
  background-color: #fbfbfb;
  min-width: 32em;
  max-height: inherit;
  height: 100%;
}

.modal-cart header {
  margin-bottom: .7em;
}

.modal-cart h1 {
  color: #1e588a;
}

.modal-cart .products {
  padding-top: .5em;
}

.section--product {
  background-color: #fbfbfb;
}

.section--contacts header {
  padding-bottom: .4em;
}

.contracts__item {
  box-shadow: 0 1px 2px rgba(8, 27, 43, 0.1);
  margin: 0 -1.5em 1em;
  padding: 0 1.5em;
}

.contracts__item.group {
  margin-bottom: 1px;
}

.contracts__header {
  background-color: #f7fafd;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1.5em;
  padding: 0 1.5em;
  height: 4em;
  line-height: 4em;
}

.contracts__header i.icon-arrow-down {
  color: #2c80c9;
  font-size: 22px;
}

.contracts__header.active i.icon-arrow-down {
  transform: rotate(180deg);
}

.contracts__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contracts__title i.icon-check {
  color: #00d763;
  font-size: 22px;
  margin-top: -2px;
  margin-right: .5em;
}

.contracts__content {
  display: none;
}

.contracts__content.active {
  display: block;
}

.contracts__list {
  padding-top: 1.2em;
}

.contracts__list-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.contracts__label {
  font-size: 1.2em;
  flex: 0 0 50%;
  width: 50%;
}

.contracts__label[required]:after {
  content: ' * ';
  color: #f00;
  font-size: 16px;
  line-height: 1;
}

.contracts__value {
  color: #6e7788;
  font-size: 1.2em;
  flex: 0 0 50%;
  width: 50%;
  text-align: right;
}

.contracts__conditions {
  border-top: 1px solid #e3e3e3;
  color: #b7bcc4;
  font-size: 1.2em;
  padding: 1em 0;
}

.contracts__conditions:before {
  content: '*';
  color: #f00;
  font-size: 20px;
  margin: 0 .75em;
  position: relative;
  top: 5px;
  line-height: 0;
}

.modal-contracts {
  min-width: 29em;
  height: 80%;
}

.modal-contracts .contracts {
  padding: 2em 0 1em;
}

.sidebar {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  transition: left .3s;
  z-index: 102;
}

.sidebar.active {
  left: 0;
}

.sidebar__close {
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 1.2em;
  right: 1.4em;
  z-index: 3;
}

.sidebar__close:hover {
  color: #2c80c9;
}

.sidebar__close i {
  font-size: 2.4em;
}

.sidebar .blockFixedToTop {
  background-color: #fff;
  padding: 0 1.5em;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.sidebar__header {
  background-color: #fff;
  padding: 1.6em 5em .8em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.sidebar__header h1 {
  color: #1e588a;
  line-height: 1.15em;
}

.sidebar__content {
  padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: auto;
  height: 100%;
}

.sidebar .advertising {
  padding: 0;
}

.sidebar .footer {
  margin: 0 -1.5em;
}

.delivery {
  display: block;
  padding: .5em 0 2em;
}

.delivery__label {
  font-size: 1.4em;
}

.delivery__field {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}

.delivery .form__field--half:first-child {
  padding-right: 5px;
}

.delivery .form__field--half:last-child {
  padding-left: 5px;
}

.delivery .form__label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.delivery__comment {
  margin-top: 10px;
  height: 100px;
}

.delivery__btns .btn {
  margin-bottom: 10px;
}

.delivery__btns .btn:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery__btns .btn:first-child i {
  font-size: 28px;
  margin-right: 10px;
}

.delivery__btns .btn:last-child {
  margin: 0;
}

.delivery .btn-turquoise {
  margin-top: 5px;
  height: 34px;
}

.delivery__schedule {
  padding: 1.5em 0;
}

.delivery__schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.delivery__schedule-label {
  flex: 0 0 50%;
  width: 50%;
  font-size: 1.2em;
}

.delivery__schedule-value {
  flex: 0 0 50%;
  width: 50%;
  font-size: 1.2em;
  text-align: right;
}