- var btnCurrency = 'Заказ в гривнах'
- var btnExchange = 'Обновить цены'

.exchange
  button.btn.btn-currency#btnCurrency
    i.icon-money
    | #{btnCurrency}

  button.btn.btn-exchange#btnExchange
    i.icon-refresh
    | #{btnExchange}
