.alert {
  padding: 1.5em;

  &__close {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 5px;

    i {
      font-size: $font-size24;
    }
  }

  &__content {
    box-shadow: 0 0 6em $black_10;
    border-radius: $border-radius-base;
    padding: 1.3em 2.3em 1.2em 5.5em;
    position: relative;
  }

  .icon-attention {
    color: $red;
    font-size: $font-size34;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
  }

  &__title {
    margin-bottom: 4px;
  }

  &__text {
    color: $gray-light;
    font-size: $font-size11;
    line-height: 1.45;
  }
}
