.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11.1em;

  &__button {
    background-color: $gray-lightest;
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.3em;
    height: 3.3em;

    i {
      font-size: $font-size24;
    }
  }

  &__amount {

    input {
      background-color: $white;
      font-size: $font-size18;
      font-weight: $font-weight-medium;
      width: 33px;
      height: 33px;
      padding: 0 5px;
      text-align: center;
    }
  }
}