.footer {
  background-color: $bg-footer;
  line-height: 4em;
  padding: 0 1.5em;
}

.copyright {
  color: $white;
  display: flex;
  align-items: center;

  span {
    font-size: $font-size11;
    &:first-child {
      margin-right: .5em;
    }
  }

  .icon-copyright {
    font-size: $font-size24;
    margin-bottom: 5px;
  }
}
