.header {
  background-color: $white;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  box-shadow: 0 0 1em $black_15;
  padding: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: $header-height;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
  }

  .back-link {
    color: $gray-dark;
    display: flex;
    align-items: center;
    font-size: $font-size14;
    font-weight: $font-weight-medium;
    height: 24px;

    &:before {
      content: '\e920';
      font-family: 'GroupAuto';
      font-size: 26px;
    }
  }
}

.menu {
  display: flex;

  &__item {
    margin-left: 2.5em;

    i {
      color: $gray-dark;
      cursor: pointer;
      font-size: 24px;
      
      &.icon-details {
        font-size: 26px;
      }
    }
  }
}

.search {
  display: flex;
  justify-content: space-between;

  &__field {
    background-color: $white;
    position: relative;
    width: calc(100% - 50px);

    .icon-arrow-down {
      color: $gray-dark;
      font-size: $font-size24;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      z-index: 1;
    }

    input {
      background-color: $white_00;
      position: relative;
      height: 40px;
      z-index: 2;
    }
  }

  button {
    padding: 0;
    width: 40px;
    height: 40px;

    i {
      font-size: 24px;
    }
  }

  &__dropdown {
    background-color: $white;
    box-shadow: 0 .4em .8em $black_25;
    border-radius: $border-radius-base;
    display: none;
    padding: 1.5em 1.5em 1em;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 30em;
    overflow: auto;

    &.active {
      display: block;
    }
  }

  &__item {
    margin-bottom: 1em;
    a {
      color: $gray-dark;
      font-size: $font-size14;
      font-weight: $font-weight-base;
    }
  }

  &__btns {
    border-top: 1px solid $gray-lightest;
    padding-top: 1.4em;
  }

  &__btn {
    margin-bottom: 1em;
    &:last-child {margin: 0;}
    .btn {
      color: $gray-dark;
      font-size: $font-size14;
      font-weight: $font-weight-base;
    }
  }
}
