.modal {
  background-color: $white;
  display: none;
  min-width: 25em;
  max-height: 90%;
  overflow: auto;
  padding: 1.6em 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;

  &.active {
    display: block;
  }

  &__close {
    color: $gray;
    cursor: pointer;
    position: absolute;
    top: 1.2em;
    right: 1.4em;

    &:hover {color: $blue;}
    i {font-size: $font-size24;}
  }

  &__header {
    margin-right: 2.5em;

    h1 {
      line-height: 1.15em;
    }
  }

  &__footer {
    border-top: 1px solid $gray-lightest;
    padding-top: 1.7em;
  }
}
