.modal {
  background-color: $white;
  border-radius: 2px;
  display: none;
  min-width: 25em;
  max-height: 90%;
  overflow: auto;
  padding: 1.6em 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;

  &.active {
    display: block;
  }

  &__close {
    color: $gray;
    cursor: pointer;
    position: absolute;
    top: 1.2em;
    right: 1.4em;

    &:hover {color: $blue;}
    i {font-size: $font-size24;}
  }

  &__header {
    padding-right: 2.5em;

    h1 {
      line-height: 1.15em;
    }
  }

  &__footer {
    border-top: 1px solid $gray-lightest;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.7em;
    flex: 0 0 100%;
    width: 100%;

    .btn-cancel {
      margin-right: 1em;
    }

    .btn-confirm {
      color: $blue;
    }
  }
}
