.products {
  padding-top: 1.5em;

  &__title {
    margin-bottom: .5em;
  }

  &__total {
    border-top: 1px solid $gray-lightest;
    margin-top: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
  }

  &__total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .4em;
    &:last-child {
      border-top: 1px solid $gray-lightest;
      margin-top: 1.5em;
      padding-top: 1.5em;
      span {
        font-size: $font-size18;
        font-weight: $font-weight-bold;
      }
    }
  }

  &__total-label {
    font-size: $font-size16;
  }

  &__total-value {
    font-size: $font-size16;
  }

  .btnSend {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    i {
      font-size: 30px;
      margin-right: .5em;
    }
  }
}

.product {
  background-color: $white;
  border-radius: $border-radius-base;
  box-shadow: 0 0 .6em $black_10;
  padding: 1em;
  position: relative;
  margin-bottom: 1em;

  &--select {
    background-color: $blue-lightest;
  }

  &--description {
    background-color: $white_00;
    padding: 4.5em 0 0;
    box-shadow: none;

    .product__label {
      font-size: $font-size14;
      padding-top: 4px;
    }

    .product__content {
      border-bottom: 1px solid $gray-lightest;
      align-items: flex-end;
      padding-bottom: 1em;
    }
  }

  &__badge {
    border-radius: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    min-width: 5.4em;
    height: 2em;
    line-height: 2em;
    text-align: center;

    &:before {
      content: attr(data-badge);
      font-size: $font-size11;
      font-weight: $font-weight-medium;
    }

    &.stock {
      background-color: $green-light_20;
      color: $green-light;
    }
    &.sale {
      background-color: $red_20;
      color: $red;
    }
    &.markdown {
      background-color: $yellow_20;
      color: $yellow;
    }
  }

  &__cancel {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: .6em;

    i {
      color: $gray-dark;
      font-size: $font-size24;
    }
  }

  &__title {
    color: $blue-dark;
  }

  &__label {
    color: $gray-light;
    font-size: $font-size12;
    margin-bottom: .5em;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    margin-bottom: .2em;
  }

  &__item-label {
    color: $gray-dark;
    font-size: $font-size12;
    display: inline-block;
    min-width: 4.5em;
  }

  &__item-value {
    font-size: $font-size14;
    font-weight: $font-weight-medium;
  }

  &__category {
    border-left: 1px solid $gray-lightest;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 0 0 10em;
    width: 10em;

    i {
      color: $gray-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size24;
      width: 36px;
      height: 36px;
    }
  }

  &__total {
    border-top: 1px solid $gray-lightest;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: .5em;
    margin-top: 1em;
  }

  &__total-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  &__status {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 1.5em;
    width: 2em;
    height: 2em;

    &.green {
      background-color: $green;
    }

    &.red {
      background-color: $red;
    }

    &.yellow {
      background-color: $yellow;
    }
  }

  &__pr {
    cursor: pointer;
    color: $gray-dark;
    font-size: $font-size18;
    font-weight: $font-weight-medium;
    margin-right: .5em;
    height: 20px;
  }

  &__article {
    cursor: pointer;
    color: $blue;
    font-size: $font-size36;
    font-weight: $font-weight-medium;
    margin-top: -7px;
    height: 33px;
    line-height: 1;
  }

  &__sum {
    font-size: $font-size18;
    font-weight: $font-weight-bold;
  }

  &__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .btn-cart {
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size26;
    padding: 0;
    height: 33px;
    width: 33px;
  }

  // Details
  &__details {
    padding-top: 1em;
    padding-bottom: 2.5em;
  }

  &__details-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .6em;
  }

  &__details-label {
    font-size: $font-size14;
    width: 60%;
    flex: 0 0 60%;
  }

  &__details-value {
    color: $gray-dark;
    font-size: $font-size14;
    width: 40%;
    flex: 0 0 40%;
    text-align: right;
  }

  // Description
  &__description {
    padding-top: 1em;
  }

  &__description-item {

    h2 {
      margin-bottom: 7px;
    }

    p {
      color: $gray-dark;
      margin-bottom: 15px;
    }

    li {
      color: $gray-dark;
      font-size: $font-size13;
      padding-left: 1em;
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: '';
        background-color: $gray-light;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        left: 0;
        width: 6px;
        height: 6px;
      }
    }
  }

  // Documents
  &__docs {
    padding-top: 1em;
  }

  &__docs-list {
    padding-top: 1em;
  }

  &__docs-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.8em;

    i {
      color: $gray-dark;
      font-size: $font-size28;
    }

    span {
      color: $gray-light;
      font-size: $font-size13;
      margin-top: .5em;
      margin-left: .5em;
    }
  }
}
