.product__slider {
  background-color: $white;
  border: 1px solid $gray-lightest;
  border-radius: $border-radius-base;
  overflow: hidden;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 3em;
  position: relative;
}

.slider {
  &__figure {
    display: flex;
    justify-content: center;
    position: relative;

    img {
      display: inline-block;
      max-width: 100%;
    }
  }

  &__badge {
    border-radius: 1.5em;
    position: absolute;
    top: 1em;
    right: 1em;
    min-width: 5.4em;
    height: 2em;
    line-height: 2em;
    text-align: center;

    &:before {
      content: attr(data-badge);
      font-size: $font-size11;
      font-weight: $font-weight-medium;
    }

    &.stock {
      background-color: $green-light_20;
      color: $green-light;
    }
    &.sale {
      background-color: $red_20;
      color: $red;
    }
    &.markdown {
      background-color: $yellow_20;
      color: $yellow;
    }
  }
}

.bx-controls-direction {
  display: none;
}

.bx-controls {
  position: absolute;
  left: 50%;
  bottom: 1em;
  transform: translateX(-50%);
  height: .8em;
}

.bx-pager {
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.bx-pager-item {
  cursor: pointer;
  display: inline-block;
  margin-right: 6px;
  &:last-child {margin: 0;}
}

.bx-pager-link {
  font-size: 0;
  line-height: 0;
  background-color: $gray-light;
  border-radius: 50%;
  display: block;
  width: 8px;
  height: 8px;

  &.active {
    background-color: $gray-dark;
  }
}
