- var title = 'Вы действительно хотите удалить товар?'
- var btnCancel = 'Отмена'
- var btnConfirm = 'Подтвердить'

.modal.modal-product-cancel#modalProductCancel
  span.modal__close#modalClose
    i.icon-cross

  .modal__content
    .modal__wrapper.align-center
      h1 #{title}

  footer.modal__footer
    button.btn.btn-transparent.btn-cancel#modalCancel(type="button") #{btnCancel}
    button.btn.btn-transparent.btn-confirm(type="button") #{btnConfirm}
