.section--search-results {
  background-color: $gray-bg;
}

.search-results {
  &__header {
    padding-top: 1.7em;
  }

  &__title {
    color: $blue-dark;
  }

  &__query {
    display: block;
  }

  &__sorts {
    padding-top: .5em;
    text-align: right;
  }

  &__sorts-link {
    color: $blue;
    cursor: pointer;
    font-size: $font-size14;
    padding-right: 2em;
    position: relative;

    i {
      font-size: 22px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}