extends ../base
block title
  | Контакты

block content
  include ../views/shared/header
  .page
    include ../views/contacts/contacts
    include ../views/shared/advertising
    include ../views/shared/footer
