extends ../base
block title
  | Все страницы

block content
  .stub-pages
    h1.stub-pages__title Страницы

    - var pages = [
    -   {href: '/login.html', text: 'Вход'},
    -   {href: '/contacts.html', text: 'Контакты'},
    -   {href: '/orders.html', text: 'Заказы'},
    -   {href: '/order.html', text: 'Заказ'},
    -   {href: '/orderAccepted.html', text: 'Заказ принят'},
    -   {href: '/searchResults.html', text: 'Результаты поиска'},
    -   {href: '/productDescription.html', text: 'Описание товара'},
    -   {href: '/contracts.html', text: 'Контракты'},
    - ];

    each page in pages
      .stub-pages__item
        a(href=page.href) #{page.text}

    hr
    h1.stub-pages__title Модальные окна

    - var modals = [
    -   {href: '/forgotPasswordModal.html', text: 'Напоминание пароля'},
    -   {href: '/forgotPasswordSuccessModal.html', text: 'Напоминание пароля (успешен)'},
    -   {href: '/orderSendModal.html', text: 'Отправить заказ'},
    -   {href: '/orderSendSuccessModal.html', text: 'Отправить заказ (успешен)'},
    -   {href: '/productCancelModal.html', text: 'Отменить заказ'},
    -   {href: '/filterModal.html', text: 'Фильтер заказов'},
    -   {href: '/searchModal.html', text: 'Уточнение запроса'},
    -   {href: '/selectModelModal.html', text: 'Выбор модели'},
    -   {href: '/contactsModal.html', text: 'Контакты'},
    -   {href: '/cartModal.html', text: 'Корзина'},
    -   {href: '/detailsModal.html', text: 'Детали'},
    -   {href: '/applicabilityTableModal.html', text: 'Таблица применимости'},
    -   {href: '/checkAvailabilityModal.html', text: 'Проверить наличие'},
    -   {href: '/checkAvailabilityAnalogsModal.html', text: 'Проверить наличие (Аналоги)'},
    -   {href: '/modelDetailsModal.html', text: 'Детали модели'},
    -   {href: '/selectOrderModal.html', text: 'Выбор заказа'},
    -   {href: '/scheduleModal.html', text: 'Расписание'},
    -   {href: '/contractsModal.html', text: 'Контракты'},
    - ];

    each modal in modals
      .stub-pages__item
        a(href=modal.href) #{modal.text}