extends ../base
block title
  | Все страницы

block content
  .stub-pages
    h1.stub-pages__title Страницы

    .stub-pages__item
      a(href='/login.html') Вход
    .stub-pages__item
      a(href='/contacts.html') Контакты
    .stub-pages__item
      a(href='/orders.html') Заказы
    .stub-pages__item
      a(href='/order.html') Заказ
    .stub-pages__item
      a(href='/orderAccepted.html') Заказ принят
    .stub-pages__item
      a(href='/searchResults.html') Результаты поиска
    .stub-pages__item
      a(href='/productDescription.html') Описание товара
    .stub-pages__item
      a(href='/contracts.html') Контракты

    hr
    h1.stub-pages__title Модальные окна

    .stub-pages__item
      a(href='/forgotPasswordModal.html') Напоминание пароля
    .stub-pages__item
      a(href='/forgotPasswordSuccessModal.html') Напоминание пароля (успешен)
    .stub-pages__item
      a(href='/orderSendModal.html') Отправить заказ
    .stub-pages__item
      a(href='/orderSendSuccessModal.html') Отправить заказ (успешен)
    .stub-pages__item
      a(href='/productCancelModal.html') Отменить заказ
    .stub-pages__item
      a(href='/filterModal.html') Фильтер заказов
    .stub-pages__item
      a(href='/searchModal.html') Уточнение запроса
    .stub-pages__item
      a(href='/selectModelModal.html') Выбор модели
    .stub-pages__item
      a(href='/contactsModal.html') Контакты
    .stub-pages__item
      a(href='/cartModal.html') Корзина
    .stub-pages__item
      a(href='/detailsModal.html') Детали
    .stub-pages__item
      a(href='/contractsModal.html') Контракты