extends ../base
block title
  | Войти

block content
  include ../views/login/header
  include ../views/login/form
  include ../views/login/footer

block modal
  include ../views/modal/forgotPassword
  include ../views/shared/overlay
