extends ../base
block title
  | Login

block content
  include ../components/login/header
  include ../components/login/form
  include ../components/login/footer
  include ../components/login/modal
