extends ../base
block title
  | Заказы

block content
  include ../views/shared/header
  include ../views/shared/aside
  .page
    include ../views/shared/alert
    include ../views/orders/orders
    include ../views/shared/advertising
    include ../views/shared/footer

block modal
  include ../views/modal/contacts
  include ../views/modal/detailsModel
  include ../views/shared/overlay
