extends ../base
block title
  | Заказ

block content
  include ../views/shared/headerBack
  include ../views/shared/aside
  .page
    include ../views/order/order
    include ../views/shared/advertising
    include ../views/shared/footer

block modal
  include ../views/modal/productCancel
  include ../views/modal/orderSend
  include ../views/modal/orderSendSuccess
  include ../views/modal/contacts
  include ../views/modal/detailsModel
  include ../views/shared/overlay
