extends ../base
block title
  | Контакты

block content
  include ../views/shared/header
  include ../views/shared/aside
  .page
    include ../views/orders/orders
    include ../views/shared/advertising
    include ../views/shared/footer

block modal
  include ../views/modal/contacts
  include ../views/modal/details
  include ../views/shared/overlay
