extends ../base
block title
  | Описание товара

block content
  include ../views/shared/header
  include ../views/shared/aside
  .page
    include ../views/productDescription/productDescription
    include ../views/shared/advertising
    include ../views/shared/footer

block modal
  include ../views/modal/contacts
  include ../views/modal/detailsModel
  include ../views/shared/overlay
