extends ../base
block title
  | Результаты поиска

block content
  include ../views/shared/header
  include ../views/shared/aside

  .page
    include ../views/searchResults/searchResults
    include ../views/shared/pagination
    include ../views/shared/advertising
    include ../views/shared/footer

block modal
  include ../views/sidebar/cart
  include ../views/modal/contacts
  include ../views/modal/detailsModel
  include ../views/modal/search
  include ../views/modal/checkAvailability
  include ../views/shared/overlay
