- var alert = {
-   title: 'Описание дефекта!',
-   text: 'С правой стороны указывается информация о пользователе (контактное лицо, название карточки клиента).',
- }

.alert.alert--product
  .alert__content
    i.icon-attention
    h3.alert__title #{alert.title}
    p.alert__text #{alert.text}
