.orders {
  &__header {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    padding-top: 2.2em;
    padding-bottom: .4em;
    position: relative;
  }

  &__title {
    color: $blue-dark;
  }

  &__filter {
    i {
      color: $gray-dark;
      font-size: $font-size24;
    }
  }
}

.order {
  box-shadow: 0 0 .6em $black_10;
  margin: 0 -1.5em 1em;
  padding: 1.2em 1.5em 0;
  position: relative;
  z-index: 1;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: .6em;
  }

  &__label {
    font-size: $font-size14;
    flex: 0 0 40%;
  }

  &__value {
    color: $gray-dark;
    font-size: $font-size14;
    text-align: right;

    &.formed {
      color: $gray-dark;
      font-weight: $font-weight-medium;
    }
    &.onProcessing {
      color: $red;
      font-weight: $font-weight-medium;
      & > span {
        color: $gray-dark;
        font-weight: $font-weight-base;
      }
    }
    &.accepted {
      color: $orange;
      font-weight: $font-weight-medium;
    }
    &.closed {
      color: $gray;
      font-weight: $font-weight-medium;
    }
    &.canceled {
      color: $gray-dark;
      font-weight: $font-weight-medium;
      font-style: italic;
    }

    &.contract {
      color: $blue;
    }
  }

  &__show-more {
    border-top: 1px solid $gray-lightest;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 1.6em;
    height: 3.6em;

    &.active {
      i {
        transform: rotate(180deg);
      }
    }

    i {
      color: $gray-light;
      font-size: $font-size24;
    }
  }
}