.orders {
  &__header {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    padding-top: 2.2em;
    padding-bottom: .4em;
    position: relative;
  }

  &__title {
    color: $blue-dark;
  }

  &__filter {
    i {
      color: $gray-dark;
      font-size: $font-size24;
    }
  }
}
