section.section.section--product
  .wrapper
    include ./content/product.pug
    include ./content/productAlert.pug
    include ./content/productDetails.pug
    include ./content/productInfo.pug
    include ./content/productDocs.pug
