.modal-contacts {
  min-width: 28em;

  header {
    padding: 1.6em 5em .8em;
    &:before {
      display: none;
    }
  }

  &__item {
    &:first-child {
      padding-top: 1.4em;
      padding-bottom: 2.8em;
      position: relative;
      &:before {
        content: '';
        background-color: $gray-lightest;
        position: absolute;
        bottom: 0;
        left: calc(50% - 6em);
        width: 120px;
        height: 1px;
      }
    }

    &:last-child {
      padding-top: 2.6em;
      padding-bottom: 2.6em;
    }
  }

  &__title {
    color: $gray-light;
    text-transform: uppercase;
  }

  &__logo-img {
    margin: 0  auto;
  }

  &__phone {
    padding-top: .7em;
  }

  &__phone-number {
    color: $blue;
    font-size: $font-size24;
    font-weight: $font-weight-medium;
  }

  &__phone-text {
    color: $gray-light;
    margin-top: -.3em;
  }
}
