.modal-forgot-password-success {
  width: 25em;

  header {
    padding-bottom: .3em;
    &:before {
      display: none;
    }
  }

  h1 {
    color: $gray;
  }

  .modal__wrapper {
    padding-bottom: 2.4em;
  }

  p {
    color: $gray-dark;
    margin-bottom: 8px;
  }

  .email {
    color: $gray;
    display: block;
  }

  label {
    color: $red;
  }
}
