.modal-forgot-password-success {
  padding-top: 1.3em;
  width: 25em;

  header {
    margin-bottom: .3em;
  }

  .modal__content {
    padding-bottom: 2.4em;
  }

  p {
    color: $gray-dark;
    margin-bottom: 8px;
  }

  .email {
    color: $gray;
    display: block;
  }

  label {
    color: $red;
  }
}
