.modal-order-send {
  min-width: 28em;

  .modal__wrapper {
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    h1 {
      padding-left: 2.5em;
      padding-right: 2.5em;
      margin-bottom: .7em;
      line-height: 1.43;
    }

    p {
      color: $gray-dark;
      text-align: center;
    }
  }
}
