.modal-select-order {
  min-width: 29em;

  .order__btns {
    position: relative;
  }

  .order__select {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .order__show-more {
    justify-content: flex-end;
    span {
      color: $gray-dark;
      font-size: 1.2em;
      font-weight: $font-weight-medium;
    }
  }
}
