.modal-select-order {
  min-width: 29em;

  input[type=radio] + label {
    display: block;
    padding: 1.2em 1.5em 0;
    font-size: $font-size-base;

    &:before, &:after {
      display: none;
    }
  }
  
  input[type=radio]:checked + label {
    background-color: $blue;

    .order__label,
    .icon-arrow-down {
      color: $white;
    }

    .order__value {
      color: $white;
      & > a, & > span {
        color: $white;
      }
    }

    .order__show-more {
      border-color: $white;
    }
  }

  .order {
    padding: 0;
  }
}
